<!doctype html>
<html lang="en">

<head>
    <title>MAT2</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    {% assets 'css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

     <!-- Search Engine -->
     <meta name="description" content="Keep your data, trash your meta!">
     <meta name="image" content="{{ url_for('static', filename='og.png', _external=True) }}">
     <!-- Schema.org for Google -->
     <meta itemprop="name" content="MAT2 Web">
     <meta itemprop="description" content="Keep your data, trash your meta!">
     <meta itemprop="image" content="{{ url_for('static', filename='og.png', _external=True) }}">
     <!-- Twitter -->
     <meta name="twitter:card" content="summary">
     <meta name="twitter:title" content="MAT2 Web">
     <meta name="twitter:description" content="Keep your data, trash your meta!">
     <meta name="twitter:image:src" content="{{ url_for('static', filename='og.png', _external=True) }}">
     <!-- Open Graph general (Facebook, Pinterest & Google+) -->
     <meta name="og:title" content="MAT2 Web">
     <meta name="og:description" content="Keep your data, trash your meta!">
     <meta name="og:image" content="{{ url_for('static', filename='og.png', _external=True) }}">
     <meta name="og:url" content="{{ url_for('routes.upload_file', _external=True) }}">
     <meta name="og:site_name" content="MAT2 Web">
     <meta name="og:type" content="website">
</head>

<body class="flex flex-col h-screen justify-between">
    <header class="h-20 w-full bg-blue-light my-0 flex justify-center">
        <a href='.' class="mt-8">
            <img class='max-h-28' src="{{ url_for('static', filename='logo.svg') }}" alt="Mat2 logo" />
        </a>
    </header>

    <main class="mb-auto mt-12 pt-8">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="text-white px-6 py-4 border-0 relative mb-4 bg-red-500">
            <span class="inline-block align-middle mr-8">
                {{ message }}
            </span>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <footer class="h-10 flex justify-center">
        <a class="flex justify-center" target="_blank" rel="noreferrer" href="https://0xacab.org/jvoisin/mat2-web" class="text-blue-dark">
            <svg class="w-4 h-4 mr-2 text-blue-dark self-center" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
              </svg>  
            <span class="self-center text-blue-dark">source</span>
        </a>
    </footer>
</body>